<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/images/trees.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Climate Changers</h1>
                <p class="lead mb-0">One Earth. One Chance.</p>
            </div>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p>The Earth's climate has changed throughout history. Just in the last 650,000 years there have been
                    seven cycles of glacial advance and retreat, with the abrupt end of the last ice age about 7,000
                    years ago marking the beginning of the modern climate era — and of human civilization. Most of these
                    climate changes are attributed to very small variations in Earth’s orbit that change the amount of
                    solar energy our planet receives.</p>
                <p>The current warming trend is of particular significance because most of it is extremely likely
                    (greater than 95 percent probability) to be the result of human activity since the mid-20th century
                    and proceeding at a rate that is unprecedented over decades to millennia.

                    Earth-orbiting satellites and other technological advances have enabled scientists to see the big
                    picture, collecting many different types of information about our planet and its climate on a global
                    scale. This body of data, collected over many years, reveals the signals of a changing climate.

                    The heat-trapping nature of carbon dioxide and other gases was demonstrated in the mid-19th
                    century. Their ability to affect the transfer of infrared energy through the atmosphere is the
                    scientific basis of many instruments flown by NASA. There is no question that increased levels of
                    greenhouse gases must cause the Earth to warm in response.

                    Ice cores drawn from Greenland, Antarctica, and tropical mountain glaciers show that the Earth’s
                    climate responds to changes in greenhouse gas levels. Ancient evidence can also be found in tree
                    rings, ocean sediments, coral reefs, and layers of sedimentary rocks. This ancient, or paleoclimate,
                    evidence reveals that current warming is occurring roughly ten times faster than the average rate of
                    ice-age-recovery warming.</p>
                <p>The planet's average surface temperature has risen about 1.62 degrees Fahrenheit (0.9 degrees
                    Celsius) since the late 19th century, a change driven largely by increased carbon dioxide and other
                    human-made emissions into the atmosphere. Most of the warming occurred in the past 35 years, with
                    the five warmest years on record taking place since 2010. Not only was 2016 the warmest year on
                    record, but eight of the 12 months that make up the year — from January through September, with the
                    exception of June — were the warmest on record for those respective months.</p>
                <p class="mb-0">
                    The oceans have absorbed much of this increased heat, with the top 700 meters (about 2,300 feet) of
                    ocean showing warming of more than 0.4 degrees Fahrenheit since 1969.
                </p>
            </div>
        </div>
    </div>
</section>