<link rel="stylesheet" href="/css/login.css">

<div class="login-form">
    <h1 style=";">Login</h1>

    <input type="email" name="loginEmail" placeholder="Email" required>
    <input type="password" name="loginPassword" placeholder="Password" required>
    <input id="loginSubmit" type="submit">
</div>

<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
<script src="/js/users.js"></script>