<!-- link to CSS stylesheet -->
<link rel="stylesheet" href="/css/news.css">
{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="../public/images/GreenUp_icon.jpg"></a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/events">Get Involved</a>
                <a class="nav-item nav-link active" href="/news">Get Informed<span class="sr-only">(current)</span></a>
            </div>
        </div>
</nav> --}}
<div id="title-container">
    <h1 id="page-title">GET INFORMED</h1>
</div>

<div id="search-container">
    <div class="container">
        <div id="searchInput">Enter a topic to search for related news articles</div>
        <form class="col-md-12" id="search-form">
            <input type="text" id="search-input" />
            <button type="button" class="btn" id="searchBtn">Search</button>
    </div>
</div>
</div>


<div class="container" id="news-view"></div>


<!-- link to Events javascript file -->
<script src="js/news.js" type="text/javascript"></script>