<link rel="stylesheet" href="/css/profile.css">
<link href="css/simple-sidebar.css" rel="stylesheet">


{{!-- <div style="margin: 0 auto; border-radius: 5px" class="container profile main text-center">
    <h1 id="heading"> Welcome {{name}}</h1>

    <hr>
    <h2>Registered Events</h2>

    <hr>

    <h2>Stats</h2>
    <hr>
    <h2>News</h2>


    <div></div> --}}




<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Green Ups </div>
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="#" class="list-group-item list-group-item-action bg-light events">Get Involved</a>
            <a href="/news" class="list-group-item list-group-item-action bg-light">Get Informed</a>
            <a type="button" class="logout-btn btn btn-primary" href="#"
                class="list-group-item list-group-item-action bg-light">Log
                Out</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Menu</button>
        </nav>

        <div class="container profile text-center">
            <h1 class="mt-4">Welcome {{name}}</h1>
            <hr>
            <h3>Upcoming Events</h3>
            <hr>
            <h3>Stats</h3>
            <hr>
            <h3>News</h3>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->

<!-- Menu Toggle Script -->





<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
<script src="/js/users.js"></script>