/* Color Scheme: #CDD7B6 (yellow-green), #4D9B91 (teal), #28353B (dark green) , #F2F3F4 (off-white), #3B3643 (dark purple) */

#GreenUheader {
  position: relative;
  background-color: rgba(0, 0, 0, 0.377);
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#carousel {
  border-top: 10px solid #4d9b91;
  border-bottom: 10px solid #4d9b91;
}

.carousel-item:before {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

#carousel-item1,
#carousel-item2,
#carousel-item3,
#carousel-item4 {
  height: 500px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  color: #28353b;
  text-align: center;
  background: rgba(242, 243, 244, 0.5);
  border-radius: 100%;
  padding: 112px 0px 112px 0px;
}

#header {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 60px;
  font-weight: bold;
}

#about {
  margin-bottom: 75px;
  padding: 45px;
  background: #cdd7b6;
}

#copyright {
  text-align: center;
}

.team-photo {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.heading {
  font-size: 150px;
}
