#page-title {
  height: 145px;
  background: #4d9b91;
  color: white;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding-top: 45px;
}

#search-container {
  background: #cdd7b6;
  padding: 20px;
}

#search-form {
  padding: 0px;
}

a {
  color: #28353b;
}

.newsResult {
  border-bottom: #f2f3f4 solid 1px;
  margin: 10px 0px 10px 0px;
  padding-top: 5px;
  vertical-align: middle;
}

.articleImg {
  height: 180px;
  width: 280px;
  object-fit: cover;
}
