#title-container {
  height: fit-content;
  background: #4d9b91;
  color: white;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding: 45px;
}

#page-title {
  font-size: 75px;
}

#resultsTitle {
  font-family: "Poiret One", cursive;
  border-bottom: #cdd7b6 solid 2px;
  margin-bottom: 10px;
}

#news-view {
  margin-top: 20px;
}

#search-container {
  background: #cdd7b6;
  padding: 20px;
}

#search-form {
  padding: 0px;
}

a {
  color: #28353b;
}

.newsResult {
  border-bottom: #f2f3f4 solid 1px;
  margin: 10px 0px 10px 0px;
  padding: auto;
  height: 250px;

}

.articleImg {
  height: 180px;
  width: 280px;
  object-fit: cover;
}
